@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
}

/* Bootstrap Styling Assets */
.selector-for-some-widget {
  box-sizing: content-box;
}
/* Bootstrap Styling Assets */
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #D6D9DD;
}

nav { /* flex container */
    background-color: white;
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100vw;
    box-shadow: #020202;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav ul li {
    margin-right: 25px;
    font-size: 20px;
}

nav ul li .active {
    color: black;
}

.custom-link {
    text-decoration: none; 
    color: black; 
    font-weight: bold; 
    font-size: 16px; 
    padding: 5px 10px; 
    background-color: white; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
  }
  
  /* Hover effect */
.custom-link:hover {
    background-color: orangered; 
    color: #ffffff; 
  }

.nav-left { 
    flex: 50%; 
}

.nav-right { 
    flex: 50%;
    text-align: end;
    margin-right: 25px;
}

.nav-right .custom-link {
    text-decoration: none; 
    font-weight: bold; 
    font-size: 14px; 
    color: white; 
  }

.nav-right a {
    background-color: rgba(18, 23, 38, 1);
    padding: 8px 25px;
    color: white;
    border-radius: 5px;
}

.nav-right a {
    text-decoration: none;
    color: white; 
    transition: color 0.3s ease; 
  }
  
 
  .nav-right a:hover {
    color: white;
    background-color: orangered; 
  }

#barsmenu {
    display: none;
  }
  
.hamburger-nav-container {
    font-size: 23px;
    list-style-type: none;
    display: none;
  }
  
.hamburger-nav-container a {
    text-decoration: none;
    color: #fff;
    background-color: #9a9a9a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #fff;
  }
  
.hamburger-nav-container .hamburger-active {
    text-decoration: none;
    color: #fff;
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #fff;
  }
  
@media only screen and (max-width: 900px) {
  .card-container {
      width: 100%;
    }
  
  .left {
      flex: 100%;
      display: flex;
      justify-content: center;
    }
  
  .right {
      margin-left: 0px;
    }
  
  section {
      flex-direction: column;
      align-items: center;
    }
  }
  
@media only screen and (max-width: 550px) {
  .skill {
    flex-direction: column;
    }
  
  .item-collapse {
    display: none;
    }
  
#barsmenu {
    display: block;
    }
  }

body, h1, p {
    margin: 0;
    padding: 0;
  }
  

.custom-container {
    max-width: 1150px; 
    height: 600px; 
    margin: 45px auto; 
    padding: 20px; 
    background-color: white; 
    border: 1px solid #ccc; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }

body, h2, p {
    margin: 0;
    padding: 0;
  }
  
  /* Style for the left div */
.left-div {
    float: left; 
    width: 50%; 
    background-color: white; 
    padding: 20px; 
    box-sizing: border-box;
  }
  
  /* Style for the right div */
.right-div {
    float: left; 
    width: 50%; 
    background-color: white;
    padding: 20px; 
    box-sizing: border-box;
  }
  

.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

body, h1, p, a {
    margin: 0;
    padding: 0;
  }
  
  /* Style for the custom card container */
.custom-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 455px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    position: relative;
    top: 250px; 
    left: 185px; 
    max-width: 300px;
    margin: 0 auto;
    transform: translate(-50%, -50%); 
  }
  
  /* Style for the card image */
.custom-card img {
    width: 100%;
    height: auto;
  }
  
  /* Style for the card content */
.card-content {
    padding: 20px;
    margin: 0;
  }
  
  /* Style for the card title */
.card-content h3 {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 0;
  }
  
  /* Style for the card text */
.card-content p {
    font-size: 16px;
    color: #666;
    margin: 0;
  }

/* Style for the button link */
.button-link {
    display: inline-block; 
    padding: 3px 20px; 
    text-decoration: none; 
    background-color: #242425; 
    color: #fff; 
    font-weight: normal;
    border-radius: 25px; 
    transition: background-color 0.3s ease;
    margin-top: 40px;
    margin-right: 20px; 
    margin-bottom: 60px;
  }
  
  /* Hover effect for the button link */
.button-link:hover {
    background-color: orangered; 
  }

.social-media i {
    margin-right: 25px;
}

